Click==7.0
Flask==1.0.2
Flask-HTTPAuth==3.2.4
ItsDangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.0
Werkzeug==0.14.1
Flask-WTF==0.14.2
Flask-PyMongo==2.2.0
PyLD==1.0.3
PyYAML==3.13
pytest
requests==2.20.0
Flask-RESTful==0.3.6
gunicorn==19.9.0
validate-email==1.3
