<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a href="/"><img src="/images/logo.png" alt="" height="64" width="64"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
        </ul>
        <% if (typeof user === 'undefined') { %>
        <form class="form-inline my-2 my-lg-0" action="/login" method="get">
            <input class="form-control mr-sm-2" type="text" name="username" placeholder="username">
            <input class="form-control mr-sm-2" type="password" name="password" placeholder="password">  
            <button class="btn btn-info my-2 my-sm-0" type="submit">Login</button>
        </form>
        <a href="/user/signup"><button class="btn btn-danger my-2 my-sm-0">Signup</button></a>
        <% } else { %>
        <a href="/create"><button class="btn btn-warning my-2 my-sm-0">Create Memory</button></a>
        <a href="/logout"><button class="btn btn-danger my-2 my-sm-0">Logout</button></a>
        <% } %>
    </div>
</nav>